<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <title>Home</title>
    </head>
<body style="background-color: rgb(250, 237, 202)">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(193, 219, 179);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Almacén de Mascotas</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/homeAdmin}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reportes/listadoReportes}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/vendedores/}">Administrar vendedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proveedores/listar}">Administrar Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"th:href="@{/ventas/listar}">Modificar ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/stocks/}">Administrar stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid text-white" style="background-color: rgb(254, 93, 38)">
    <h1 style="text-align: center">
        <br><br>
        Ventas
        <br><br><br>
    </h1>
</div>
<div class="container-fluid text-white" style="background-color: rgb(242, 192, 120);">

    <br>
    <h2 style="text-align: center">Registro de nueva venta</h2>
    <br>

</div>

<br>
<br>
<br>

<div class="container">

    <div th:if=${param.error}>
        <div class="alert alert-danger">Error: No se puede registrar una venta con una fecha mayor a la actual</div>
    </div>

    <div th:if=${param.errorFecha}>
        <div class="alert alert-danger">Error: No se puede registrar una venta con una fecha mayor a la actual</div>
    </div>

    <form th:action="@{/ventas}" method="post" th:object="${egresoReal}">

        <div class="form-group">
            <input type="text" class="form-control" id="idEgreso"  th:field="*{idEgreso}" hidden disabled>
        </div>


        <div class="form-group">
            <label for="cliente">Cliente</label>
            <select th:field="*{cliente}" class="form-control form-control" id="cliente">
                <option th:each="cliente:${clientes}"
                        th:value="${cliente.idCliente}"
                        th:text="${cliente.nombre} +' ' +  ${cliente.apellido}" />
            </select>
        </div>

        <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" th:field="*{fecha}"
                   required autofocus="autofocus">
        </div>


        <div class="form-group">
            <label for="total">Total en AR$</label>
            <input type="text" class="form-control" id="total" th:value="${total}" disabled>
        </div>

        <div class="form-group">
            <select th:field="*{formaPago}" class="form-control form-control" id="formaPago" hidden>
                <option th:each="formaPago:${formasPagos                                                                                                                                            }"
                        th:value="${formaPago.idFormaPago}"
                        th:text="${formaPago.nombre}"/>
            </select>
        </div>

            <br>
            <button type="submit"  class="btn btn-success" id="botonCrear">Registrar</button>
            <td><a th:href="@{/ventas/listar}" class="btn btn-info">
                Volver al listado</a></td>
        </div>
        <BR>
    </form>

</div>

<div th:if=${param.exito}>
    <div class="alert alert-info"> El primer paso del registro de ventas se ha realizado. Ahora debe agregar
        los productos vendidos.
    </div>
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID detalle</th>
                <th scope="col">ID venta</th>
                <th scope="col">Producto</th>
                <th scope="col">cantidad</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detalleEgreso : ${detalleEgresoReal}">
                <td style="text-align=left" th:text="${detalleEgreso.idDetalleEgreso}"></td>
                <td style="text-align=left" th:text="${detalleEgreso.idEgreso}"></td>
                <td th:text="${detalleEgreso.producto.nombre}"></td>
                <td style="text-align=left" th:text="${detalleEgreso.cantidad}"></td>
                <td><a th:href="@{/detalleEgresos/update/{idDetalleEgreso}(idDetalleEgreso=${detalleEgreso.idDetalleEgreso})}"
                       class="btn btn-info">
                    Editar</a></td>
                <td><a th:href="@{/detalleEgresos/delete/{idDetalleEgreso}(idDetalleEgreso=${detalleEgreso.idDetalleEgreso})}"
                       class="btn btn-danger">
                    Eliminar</a></td>
            </tr>
            </tbody>
        </table>

        <div>
            <br>
            <button type="submit" class="btn btn-success">Cargar ingreso</button>
        </div>
    </div>


    <br>

</div>

</div>
<!--
        <td><a th:href="@{/detalleIngresos/{idIngreso}(idIngreso=${ingreso.idIngreso})}" class="btn btn-info">
            Agregar productos a la entrega</a></td>
-->

<br>

</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></select>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11">




</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>

