<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>indexVendedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">   <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>

</head>
<body>
<body style="background-color: white">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Farmacéutica Dorada</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="IngresoEntregas.jsp">Ingreso de mercadería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-primary text-white">
    <h1 style="text-align: center">
        <br><br>
        Bienvenido al sistema
        <br><br><br>
    </h1>

</div>
<div class="container-fluid bg-secondary  text-white">

    <br>
    <h2 style="text-align: center; font-size:large;" >¿Qué desea hacer? Ingrese una opción </h2>
    <br>

</div>


<br>


<div class="container">
    <h2>Gestión de despachos</h2>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="IngresoEntregas.jsp" role="tab" aria-controls="v-pills-home" aria-selected="true">Cargar el ingreso de productos a sucursal</a>

    </div>


    <br>
    <br>
    <br>
</div>



<div class="container">
    <h2>Reportes</h2>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="EntregasXSucursal.jsp" role="tab" aria-controls="v-pills-home" aria-selected="false">Listado de entregas por sucursal</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="ListadoStockYPrecio.jsp" role="tab" aria-controls="v-pills-profile" aria-selected="false">Total de stock de cada sucursal</a>
        <a class="nav-link active" id="v-pills-messages-tab" data-toggle="pill" href="reporteStockArticulo.jsp" role="tab" aria-controls="v-pills-home" aria-selected="false">Stock de un artículo específico por sucursal</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="Reporte4.jsp" role="tab" aria-controls="v-pills-settings" aria-selected="false">Listado de artículos y sucursales con stock inferior a un mínimo ingresado por el usuario</a>
        <a class="nav-link active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-home" aria-selected="false">Listado de empresas de logística ordenados en forma descendente por cantidad total de items
            entregados</a>
    </div>

</div>

<br> <br>
<br>

</body>
</html>