<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <title>Almacén de Mascotas</title>
    </head>
<body style="background-color: rgb(250, 237, 202)">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(193, 219, 179);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Almacén de Mascotas</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/homeVendedor}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/productos/listarProductos}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{marcas/listarMarcas}">Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proveedores/listarProveedores}">Proveedores </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ventasCliente}">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"th:href="@{/ingresosProveedor}">Ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"th:href="@{/preguntasFrecuentesVendedor}">Preguntas frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logoutVendedor}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid text-white" style="background-color: rgb(254, 93, 38)">
    <h1 style="text-align: center">
        <br><br>
        Productos
        <br><br><br>
    </h1>
</div>
<div class="container-fluid text-white" style="background-color: rgb(242, 192, 120);">

    <br>
    <h2 style="text-align: center">Modificación de productos</h2>
    <br>

</div>

<br>
<br>
<br>

<div class="container">
    <div th:if=${param.errorPeso}>
        <div class="alert alert-danger">El peso del producto no puede ser menor o igual a cero</div>
    </div>
    <div th:if=${param.exito}>
        <div class="alert alert-info">Se han modificado los datos exitosamente.</div>
    </div>
    <div th:if=${param.errorProductoPrecio0}>
        <div class="alert alert-danger">El precio de compra o venta del producto no puede ser cero</div>
    </div>
    <div th:if=${param.errorProductoPrecioNegativo}>
        <div class="alert alert-danger">El precio de compra o precio de venta no acepta números negativos</div>
    </div>
    <div th:if=${param.errorFechaVencimiento}>
        <div class="alert alert-danger">El tipo de producto ingresado requiere fecha de vencimiento</div>
    </div>

      <form th:action="@{/productos/updateProductoEspecifico/{idProducto}(idProducto=${producto.idProducto})}" method="post" th:object="${productoDtos}" >

          <div class="form-group">
              <label for="codBarras">Código de barras</label>
              <input type="number"  style="text-align:left"  class="form-control" id="codBarras" th:field="*{codBarras}">
          </div>

          <div class="form-group">
              <label for="nombre">Nombre producto</label>
              <input type="text" class="form-control" id="nombre" th:field="*{nombre}"
                     required autofocus="autofocus">
          </div>

          <div class="form-group">
              <label for="fechaVencimiento">Fecha de vencimiento</label>
              <input type="date" class="form-control" id="fechaVencimiento" th:field="*{fechaVencimiento}">
          </div>


          <div class="form-group">
              <label for="pesoNeto">Peso del producto   (en caso de no contar con el peso, ingrese aproximado) </label>
              <input type="number"  style="text-align:left" class="form-control" id="pesoNeto" th:field="*{pesoNeto}"
                     required autofocus="autofocus" >
          </div>


          <div class="form-group">
              <label for="unidadMedida">Unidad de medida</label>
              <select  th:field="*{unidadMedida}" class="form-control form-control" id="unidadMedida">
                  <option th:each="unidadMedida:${unidadesMedidas}"
                          th:value="${unidadMedida.idUnidadMedida}"
                          th:text="${unidadMedida.nombre}" />
              </select>
          </div>

          <div class="form-group">
              <label for="precioCompra">Precio de compra en AR&</label>
              <input type="number"  style="text-align:left" class="form-control" id="precioCompra" th:field="*{precioCompra}"
                     required autofocus="autofocus" >
          </div>

          <div class="form-group">
              <label for="precioVenta">Precio de venta en AR$</label>
              <input type="number"  style="text-align:left" class="form-control" id="precioVenta" th:field="*{precioVenta}"
                     required autofocus="autofocus" >
          </div>

          <div class="form-group">
              <label for="marca">Marca</label>
              <select  th:field="*{marca}" class="form-control form-control" id="marca">
                  <option th:each="marca:${marcas}"
                          th:value="${marca.idMarca}"
                          th:text="${marca.nombre}" />
              </select>
          </div>

          <div class="form-group">
              <label for="categoria">Categoría de producto</label>
              <select  th:field="*{categoria}" class="form-control form-control" id="categoria" name="categoria">
                  <option th:each="categoria:${categorias}"
                          th:value="${categoria.idCategoria}"
                          th:text="${categoria.nombre}" />
              </select>
          </div>


          <div class="form-group">
              <label for="tipoAnimal">Seleccione la especie del animal que usará el producto </label>
              <select   th:field="*{tipoAnimal}"class="form-control form-control" id="tipoAnimal">
                  <option th:each="tipoAnimal:${tipoAnimales}"
                          th:value="${tipoAnimal.idTipo}"
                          th:text="${tipoAnimal.nombre}" />
              </select>
          </div>

          <div class="form-group">
              <label for="edad">Edad del animal que usará el producto</label>
              <select  th:field="*{edad}" class="form-control form-control" id="edad" >
                  <option th:each="edad:${edades}"
                          th:value="${edad.idEdad}"
                          th:text="${edad.nombre}" />
              </select>
          </div>

          <div class="form-group">
              <label for="tamano">Tamaño del animal que usará el producto</label>
              <select  th:field="*{tamano}" class="form-control form-control" id="tamano">
                  <option th:each="tamano:${tamanos}"
                          th:value="${tamano.idTam}"
                          th:text="${tamano.nombre}" />
              </select>
          </div>

          <div class="form-group">
              <label for="formaVenta">Forma de venta</label>
              <select  th:field="*{formaVenta}" class="form-control form-control" id="formaVenta">
                  <option th:each="formaVenta:${formasVentas}"
                          th:value="${formaVenta.idFormaVenta}"
                          th:text="${formaVenta.nombre}" />
              </select>
          </div>

                <BR>
              <button type="submit" class="btn btn-success">Modificar</button>
          <td><a th:href="@{/productos/listarProductos}" class="btn btn-info"> Volver al listado</a></td>
          </form>

    </div>

</div>


<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>

